body {
    --angleDegs: 210deg;
    --distance: 40vw;
    --slashy-background: transparent;
    --colorOne: rgb(205,184,209);
    --colorTwo: rgba(173,43,90,1);
    --colorThree: rgb(64, 81, 163);
    --colorFour: #111A2A;
    --colorButton: 64, 81, 163;
    background: linear-gradient(
      var(--angleDegs),
      var(--cds-ui-background) 0vw,
      var(--distance),
      var(--cds-ui-03) var(--distance) 100vw
    );
    background-attachment: fixed !important;

}
button.bx--btn--primary,a.bx--btn--primary, .active-button {
    transition: 0.2s;
    color: var(--cds-text-04);
    background-color: rgba(var(--colorButton), 1);
}
button.bx--btn--primary:hover, a.bx--btn--primary:hover, .active-button:hover  {

background-color: rgba(var(--colorButton), 0.3) !important;
color: var(--colorFour);
}

.slashy {
    background: linear-gradient(
      var(--angleDegs),
      var(--surface-1) 0vw,
      var(--distance),
      var(--surface-2) var(--distance) 100vw
    );
    background-attachment: fixed !important;
  }


.lines {
    color: inherit !important;
    text-decoration: none;
    background: linear-gradient(
       to right,
       rgba(37, 37, 37, 0.3),
       rgba(37, 37, 37, 0.3)
    ),
    linear-gradient(to right, rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}
